<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dreamworld.demotest">

    <!--after loolipop we have to check permision at runtime-->
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".IntentActivtiy" />
        <activity android:name=".BroadcastActivity" />
        <activity android:name=".ContentActitvity" />
        <activity android:name=".LoaderActitvity" />
        <activity android:name=".ServiceActivity">
           <intent-filter>
               <action android:name="com.dreamworld.demotest.ServicActivity"/>
               <category android:name="android.intent.category.DEFAULT"/>
           </intent-filter>

        </activity>

        <receiver android:name=".BroadcastTest" android:exported="false">


        </receiver>
            <!-- to trigger this component we have to use implicit intent filter
            error if activity is close then also it wil read one time password
            -->
           <!---->
            <!--<intent-filter>-->
            <!--<action android:name="android.provider.Telephony.SMS_RECEIVED"/>-->

            <!--</intent-filter>-->


        <service android:name=".MyService"/>


    </application>

</manifest>